.Navbar {
    border-right: solid 1px #ddd;
    padding-bottom: 2em;
}

.Navbar .Title {
    padding-bottom: 2em;
}

.SidebarSubtitle {
    padding-top: .73rem;
}

.RoverSubtitleWrapper {
    border-bottom: solid 1px #ddd;
}

.RoverSubtitle {
    padding-top: .73rem;
}

.Search{
    border-left: solid 1px #ddd;
    padding-top: 2em;
    padding-bottom: 2em;
}

.Search .control {
    margin-bottom: 1rem;
}

.Search .radio input {
    margin-right: 5px;
}

.WrapperPhotos .card, .Search .control .tags .tag {
    cursor: pointer;
}

.WrapperPhotos .column {
    padding-bottom: var(--columnGap);
    padding-top: var(--columnGap);
}

.box .buttons {
    margin-top: 5px;
}